#not-found
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height calc(100vh - 74px)
    padding 0 8px 74px 8px

    & > .title
        font-size 148px
        font-weight 100
        color var(--title)
        margin 0

    & > .detail
        font-size 21px
        font-weight 300
        text-align center
        color var(--content)
        margin 32px 0 0 0

    @media (max-width 567.9px)
        & > .title
            font-size 96px

        & > .detail
            font-size 18px